
#
# Usage:
# ------
#
# This docker compose file parameterizes build configurations using environment
# variables from the host. The default values for the build configuration
# variables are set in `.env`.
#
# Variables:
#   ARCH={amd64, arm64v8, ...}
#   COMPILER_TYPE={gnu, clang, intel, nvidia}
#   COMPILER={gcc-5, gcc-6, gcc-7, gcc-8, gcc-9, gcc-10,
#             clang-3.9, clang-4.0, clang-5.0, clang-6.0, clang-7, clang-8,
#             clang-9, clang-10,
#             icc-18, icc-19,
#             nvcc-10, nvcc-11}
#   REPO=lifflander1/vt
#   UBUNTU={18.04, 20.04}
#   ULIMIT_CORE=0
#
# DARMA/vt Configuration Variables:
#   VT_LB=1                   # Enable load balancing
#   VT_TRACE=0                # Enable tracing
#   VT_MIMALLOC=0             # Enable mimalloc memory allocator
#   VT_DOCS=0                 # Enable doxygen build
#   VT_TRACE_RT=0             # Enable tracing at runtime (for testing)
#   VT_ASAN=0                 # Enable address sanitizer
#   VT_WERROR=1               # Treat all warnings as errors
#   VT_EXTENDED_TESTS=1       # Build all the extended testing
#   VT_ZOLTAN=0               # Build with Zoltan enabled
#   VT_UNITY_BUILD=0          # Build with Unity/Jumbo mode enabled
#   VT_PRODUCTION_BUILD=0     # Disable assertions and debug prints
#   VT_FCONTEXT=0             # Force use of fcontext for threading
#   VT_USE_OPENMP=0           # Force use of OpenMP for threading
#   VT_USE_STD_THREAD=0       # Force use of std::thread for threading
#   VT_DIAGNOSTICS=1          # Build with diagnostics enabled
#   VT_DIAGNOSTICS_RUNTIME=0  # Enable diagnostics collection at runtime by default
#   BUILD_TYPE=release        # CMake build type
#   CODE_COVERAGE=0           # Enable generation of code coverage reports
#
# In order to run in the container, there are two stages. First, one must build
# or pull the base container with the variables exported (or using the defaults
# in `vt/.env` that configure it:
#
# For instance, if you want an interactive intel build with icc-18 that enables
# VT tracing, run the following commands:
#
# $ export COMPILER_TYPE=intel
# $ export COMPILER=icc-18
# $ export VT_TRACE=1
# $ docker-compose pull ubuntu-cpp-interactive
# $ docker-compose run ubuntu-cpp-interactive
# # /vt/ci/build_cpp.sh /vt /build
#
# For a non-interactive build with gcc-8, since gnu is the default compiler
# type, one may do the following:
#
#  $ COMPILER=gcc-8 docker-compose pull ubuntu-cpp
#  $ COMPILER=gcc-8 docker-compose run ubuntu-cpp
#

# Need verision >= 3.5 for the features in use
version: '3.5'

# Named volumes must be predefined according the docker compose rules. Many
# combinations have already been added, but if a needed configuration is missing
# add it to this list. For example, for ARM64v8 on Ubuntu 20.04 with clang-9,
# add `arm64v8-ubuntu-20.04-clang-9-cache`.
volumes:
  amd64-ubuntu-18.04-clang-3.9-cache:
  amd64-ubuntu-18.04-clang-4.0-cache:
  amd64-ubuntu-18.04-clang-5.0-cache:
  amd64-ubuntu-18.04-clang-6.0-cache:
  amd64-ubuntu-18.04-clang-7-cache:
  amd64-ubuntu-18.04-clang-8-cache:
  amd64-ubuntu-18.04-clang-9-cache:
  amd64-ubuntu-20.04-clang-10-cache:
  amd64-ubuntu-18.04-gcc-5-cache:
  amd64-ubuntu-18.04-gcc-6-cache:
  amd64-ubuntu-18.04-gcc-7-cache:
  amd64-ubuntu-18.04-gcc-8-cache:
  amd64-ubuntu-20.04-gcc-9-cache:
  amd64-ubuntu-20.04-gcc-10-cache:
  amd64-ubuntu-18.04-icc-18-cache:
  amd64-ubuntu-18.04-icc-19-cache:
  amd64-ubuntu-18.04-icc-20-cache:
  amd64-ubuntu-18.04-nvcc-10-cache:
  amd64-ubuntu-18.04-nvcc-11-cache:
  amd64-alpine-clang-3.9-cache:
  amd64-alpine-clang-4.0-cache:
  amd64-alpine-clang-5.0-cache:
  amd64-alpine-clang-6.0-cache:
  amd64-alpine-clang-7-cache:
  amd64-alpine-clang-8-cache:
  amd64-alpine-clang-9-cache:
  amd64-alpine-clang-10-cache:
  amd64-alpine-gcc-5-cache:
  amd64-alpine-gcc-6-cache:
  amd64-alpine-gcc-7-cache:
  amd64-alpine-gcc-8-cache:
  amd64-alpine-gcc-9-cache:
  amd64-alpine-gcc-10-cache:
  amd64-alpine-icc-18-cache:
  amd64-alpine-icc-19-cache:
  amd64-alpine-icc-20-cache:
  amd64-alpine-nvcc-10-cache:
  amd64-alpine-nvcc-11-cache:
  arm64v8-ubuntu-18.04-gcc-7-cache:
  arm64v8-alpine-gcc-7-cache:

# Define basic rules for ccache used across multiple services. The beauty of
# docker compose with cached volumes is that similarly configured builds will
# reuse a ccache volume making build speeds much faster than a fresh build each
# time.
x-ccache: &ccache
  CCACHE_COMPILERCHECK: content
  CCACHE_COMPRESS: 1
  CCACHE_COMPRESSLEVEL: 5
  CCACHE_MAXSIZE: 700M
  CCACHE_DIR: /build/ccache

# Define rules for VT configuration options across various services
x-vtopts: &vtopts
  VT_LB_ENABLED: ${VT_LB:-1}
  VT_TRACE_ENABLED:  ${VT_TRACE:-0}
  VT_MIMALLOC_ENABLED: ${VT_MIMALLOC:-0}
  VT_DOXYGEN_ENABLED: ${VT_DOCS:-0}
  VT_TRACE_RUNTIME_ENABLED: ${VT_TRACE_RT:-0}
  VT_BUILD_TRACE_ONLY: ${VT_TRACE_ONLY:-0}
  VT_ASAN_ENABLED: ${VT_ASAN:-0}
  VT_WERROR_ENABLED: ${VT_WERROR:-1}
  VT_POOL_ENABLED: ${VT_POOL:-1}
  VT_ZOLTAN_ENABLED: ${VT_ZOLTAN:-0}
  VT_UNITY_BUILD_ENABLED: ${VT_UNITY_BUILD:-0}
  VT_PRODUCTION_BUILD_ENABLED: ${VT_PRODUCTION_BUILD:-0}
  VT_FCONTEXT_ENABLED: ${VT_FCONTEXT:-0}
  VT_USE_OPENMP: ${VT_USE_OPENMP:-0}
  VT_USE_STD_THREAD: ${VT_USE_STD_THREAD:-0}
  VT_DIAGNOSTICS_ENABLED: ${VT_DIAGNOSTICS:-1}
  VT_DIAGNOSTICS_RUNTIME_ENABLED: ${VT_DIAGNOSTICS_RUNTIME:-0}
  CMAKE_BUILD_TYPE: ${BUILD_TYPE:-release}
  VT_MPI_GUARD_ENABLED: ${VT_MPI_GUARD:-1}
  VT_EXTENDED_TESTS_ENABLED: ${VT_EXTENDED_TESTS:-1}
  CODE_COVERAGE: ${CODE_COVERAGE:-0}
  https_proxy: ${PROXY-}
  http_proxy: ${PROXY-}
  VT_CI_BUILD: ${VT_CI_BUILD:-0}

services:
  ##############################################################################
  # C++ builds of VT on ubuntu/alpine platform from container baseline
  # Ubuntu gcc-7 debug build:
  #   docker-compose run -e CMAKE_BUILD_TYPE=debug ubuntu-cpp|alpine-cpp
  ubuntu-cpp:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
      args: &default-args
        arch: ${ARCH}
        proxy: ${PROXY}
        compiler: ${COMPILER}
        zoltan_enabled: ${VT_ZOLTAN:-0}
    ulimits: &ulimits
      core: ${ULIMIT_CORE}
    environment:
      <<: *ccache
      <<: *vtopts
    volumes: &ubuntu-volumes
      - .:/vt:delegated
      - ${CACHE}${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cache:/build:delegated
    command: &vt-cpp-command >
      /bin/bash -c "
        /vt/ci/build_cpp.sh /vt /build &&
        /vt/ci/test_cpp.sh  /vt /build"

  ##############################################################################
  # C++ build/test/clean target for VT on ubuntu platform from container
  # baseline.
  #
  # Example:
  #   docker-compose run ubuntu-cpp-clean
  ubuntu-cpp-clean:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
    volumes: *ubuntu-volumes
    command: &vt-build-test-clean-cpp-command >
      /bin/bash -c "
        /vt/ci/build_cpp.sh /vt /build &&
        /vt/ci/test_cpp.sh  /vt /build &&
        /vt/ci/clean_cpp.sh /vt /build"

  ##############################################################################
  # Interactive C++ setup of VT on ubuntu platform from container baseline.
  #
  # After running:
  #   docker-compose run ubuntu-cpp-interactive
  #
  # You will get a command line where you can run the build command:
  #   $ /vt/ci/build_cpp.sh /vt /build
  #   $ /vt/ci/test_cpp.sh  /vt /build
  ubuntu-cpp-interactive:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
    volumes: *ubuntu-volumes

  ##############################################################################
  # C++ build/test/clean target for VT using OpenMPI instead of the default
  # mpich.
  #
  # Note: This is a separate target because it requires a different image and
  # modifying all the other container/image names to be parameterized over
  # MPI requires a lot of changes.
  ubuntu-cpp-clean-openmpi:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-openmpi-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-openmpi-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-openmpi-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
      OMPI_MCA_btl: "^vader"
    volumes: *ubuntu-volumes
    command: *vt-build-test-clean-cpp-command

  ##############################################################################
  # Interactive C++ setup of VT on ubuntu platform from container baseline for
  # OpenMPI.
  ubuntu-cpp-interactive-openmpi:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-openmpi-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-openmpi-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-openmpi-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
      OMPI_MCA_btl: "^vader"
    volumes: *ubuntu-volumes

  ##############################################################################
  # Build C++ container with VT installed in the container on ubuntu platform
  # from container baseline.
  ubuntu-vt:
    image: ${REPO}:vt-${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
    build:
      context: .
      target: build
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
      args:
        <<: *default-args
        <<: *vtopts
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
    volumes: *ubuntu-volumes
    command: &cpp-command >
      /bin/bash -c "
        /vt/ci/test_cpp.sh  /vt /build"

  ##############################################################################
  # Build documentation for VT in the container on ubuntu platform from
  # container baseline.
  ubuntu-docs:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-docs
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-docs.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
      args:
        <<: *default-args
        token: ${TOKEN}
    ulimits: *ulimits
    environment:
      <<: *ccache
      VT_LB_ENABLED: ${VT_LB:-1}
      VT_TRACE_ENABLED:  ${VT_TRACE:-1}
      VT_DIAGNOSTICS_ENABLED: 1
      VT_DOXYGEN_ENABLED: 1
      CMAKE_BUILD_TYPE: ${BUILD_TYPE:-release}
    volumes: *ubuntu-volumes
    command: &docs-cpp-command >
      /bin/bash -c "
        /vt/ci/build_cpp.sh /vt /build ${TOKEN}"

  ##############################################################################
  # Build vt sample project using DARMA-vt installed from spack package.
  ubuntu-spack:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-openmpi-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-openmpi-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-openmpi-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *vtopts
    volumes: *ubuntu-volumes
    command:
      /bin/bash -c "
        /vt/ci/test_spack_package.sh"

  ##############################################################################
  # Interactive build documentation for VT in the container on ubuntu platform
  # from container baseline.
  ubuntu-docs-interactive:
    image: ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-docs
    build:
      context: .
      target: base
      dockerfile: ci/docker/ubuntu-${UBUNTU}-${COMPILER_TYPE}-docs.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-ubuntu-${UBUNTU}-${COMPILER}-cpp
      args:
        <<: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      VT_LB_ENABLED: ${VT_LB:-1}
      VT_TRACE_ENABLED:  ${VT_TRACE:-1}
      VT_DIAGNOSTICS_ENABLED: 1
      VT_DOXYGEN_ENABLED: 1
      CMAKE_BUILD_TYPE: ${BUILD_TYPE:-release}
    volumes: *ubuntu-volumes

  ##############################################################################
  # C++ build of VT within an alpine linux container (limited to clang
  # compilers)
  alpine-cpp:
    image: ${REPO}:${ARCH}-alpine-${COMPILER}-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/alpine-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-alpine-${COMPILER}-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
    volumes: &alpine-volumes
      - .:/vt:delegated
      - ${CACHE}${ARCH}-alpine-${COMPILER}-cache:/build:delegated
    command: *vt-cpp-command

  ##############################################################################
  # C++ build/test/clean target for VT on alpine platform from container
  # baseline.
  alpine-cpp-clean:
    image: ${REPO}:${ARCH}-alpine-${COMPILER}-cpp
    build:
      context: .
      target: base
      dockerfile: ci/docker/alpine-cpp.dockerfile
      cache_from:
        - ${REPO}:${ARCH}-alpine-${COMPILER}-cpp
      args: *default-args
    ulimits: *ulimits
    environment:
      <<: *ccache
      <<: *vtopts
    volumes: *alpine-volumes
    command: *vt-build-test-clean-cpp-command
