name: Build Documentation

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - develop

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      REPO: lifflander1/vt
      ARCH: amd64
      UBUNTU: 18.04
      COMPILER_TYPE: gnu
      COMPILER: gcc-5
      BUILD_TYPE: release
      ULIMIT_CORE: 0
      VT_LB: 1
      VT_TRACE: 1
      VT_TRACE_RT: 0
      VT_MIMALLOC: 0
      VT_DOCS: 1
      VT_ASAN: 0
      VT_UBSAN: 0
      TOKEN: ${{ secrets.GH_PAT }}

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker-compose run ubuntu-docs
