name: Perf tests

on: pull_request

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run performance tests
        uses: DARMA-tasking/build-stats@9-add-perf-tests
        with:
            github_personal_token: ${{ secrets.GH_PAT }}
            badge_title: vt:develop build time
            num_last_build: 50
            title: vt build times
            build_stats_output: "build_stats"
